*{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

/* color F8FAFB */

.card-self{
    border: 2px dashed #d2d2d2;
    color: black;
    border-color: transparent;
    transition: 150ms ease-in-out;
}
/*animation for landing page*/
.misi > li.card-text{
  line-height: 50px;
}
li.card-text > span{
  margin-left: 1rem;
}
.landing-page{
  background: url('../img/for_landing_page.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  padding:20px 20px 20px 7rem;
  width:100%;
  height:100vh;
}
.message{
  font-size: 50px;
  font-weight: bolder;
  width: 50%;
  --height:70px;
  min-height: var(--height);
  line-height: var(--height);
}
.slides{
  display: flex;
  width: 100%;
  height: var(--height);
  overflow: hidden;
}
.slide-1 > span{
  font-size: 50px; 
  font-weight:bold;
}
.slide-1{
  width: 100%;
  color: #FFBF00;
  display: flex;
  flex-flow: column nowrap;
  transform: translateY(100%);
  animation: slide-up 9s ease infinite;
}

.message > .homeBtn{
  /* animation: slide-btn 2s ease; */
  border: 2px solid black;
  border-radius: 0;
  overflow: hidden;
  width: 11rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  color: #DC143C;
}
.message > .homeBtn:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
}
.message > .homeBtn:hover:before{
  width: 100%;
}



@keyframes slide-up {
  10%, 25%{
    transform: translateY(0%);
  }
  35%,50%{
    transform: translateY(-100%);
  }
  65%, 75%{
    transform: translateY(-200%);
  }
  85%, 100%{
    transform: translateY(-300%);
  }
}

@keyframes slide-btn {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.second-land{
  background-color: #F8FAFB;
  height:100vh; 
  width:100%;
  padding: 50px 100px 50px 100px;
}


/**/
.card-self:hover{
  transform: scale(1);
  color:white;
  background-color: #1C76FD;
}

.card-wrapper{
  transition: 150ms ease-in-out;
}
.card-wrapper:hover{
  transform: scale(1.05);
  color:white;
  background-color: #1C76FD;
}

.card-parent{
  transition: 150ms ease-in-out;
}

.card-parent:hover{
  transform: scale(1.05);
}

.card-departemen{
  color: black;
  border-color: transparent;
  transition: 150ms ease-in-out;
}

.card-departemen:hover{
  transform: scale(1);
  color:white;
  background-color: #1C76FD;
}

.paragraph{
  font-size: 14px; 
  margin: 0%;
  font-weight: bold;
}
.navigation{
  background: white;
}



li>.goalEdit:hover{background-color: #FFBF00;}
li>form>.goalDel:hover{background-color: #DC143C;}


.ind{width: 30rem;}


nav>.tabsNav{
  border:transparent;
}

nav>.tabsNav>.btnNav{
  border:transparent;
  color: #1C76FD;
  border-radius: 0.375rem 0.375rem 0 0;
}

nav>.tabsNav>.btnNav.active{
  background-color: white;
  color:#1C76FD;
  /* border: 1px solid #d2d2d2;
  border-bottom: 0; */
}

.indikator{
  text-decoration: none;
  color: black;
}

.btn-action>a{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.1rem;
}

.btn-action>form>button{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.1rem;
}
.btn-action>form>button:hover{color:#1C76FD;}
.btn-action>a:hover{color:#1C76FD;}

.chart{
  gap: 1%;
}

.card-right{
  width: auto;
  max-width: 830px;
  margin-bottom: 1%;
  border-radius: 20 px;
}

.wrapper{position: relative;}

.center-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btnPeriode{
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  border: 2px dashed #d2d2d2;
  border-radius: 15px;
}

.btnGoal{
  width: 15rem;
  background-color: transparent;
  border: 2px dashed #d2d2d2;
  border-radius: 15px;
}
.dept-unit{
  font-weight: bold;
  text-align: center;
}

.selectedStrategi > span{
  width: 100% !important;
}

.selection > span {
  border: 1px solid #d2d2d2 !important; 
}

#search-item:focus{
  box-shadow: none;
}

#ui-id-1{
  padding: 1rem 1.5rem 2rem 1.5rem;
  background-color: white;
  list-style-type: none;
  max-width: 88.5rem;
  border-radius:1rem;
  border: 1px solid #86B7FE;
  border-top: 0;
}
#ui-id-1>.ui-menu-item{
  padding: 5px;
  border-bottom: 1px solid rgb(228, 228, 228);
}
#ui-id-1>.ui-menu-item:hover{
  background-color: #1C76FD;
  color: white;
  border-radius: 0.5rem;
}

/* box shadow disable */
.form-search > .btnSrch:focus{
  box-shadow: none;
}

.accordion-header > .accordion-button:focus {
  background-color: white;
  box-shadow: none;
}
.dropdown > .dropdown-toggle-split:focus{
  box-shadow: none;
  border:0;
  background-color: #1C76FD;
  color: white;
}

.dropdown > .dropdown-toggle-split:hover{
  background-color: #1C76FD;
  color: white;
}

.nav-item{
  border-radius: 1rem;
  width: 10rem;
  text-align: center;
}
.navigateBtn>i{
  margin-right: 0.25rem;
}


.nav-item:hover{
  background-color: #FFBF00;
}

.accordion-collapse{
  border-top: 1px solid #dee2e6;
}

.ui-helper-hidden-accessible { display:none; }

.unit-list{
  text-decoration: none;
  color: black;
}
.unit-list:hover{
  background-color: #1C76FD;
  color: white;
}

.btn-unit{
  text-decoration: none;
  font-weight: bold;
}

.btnAdd{width: 100%;}
.crtAdd{margin-right: 0.5rem;}

.modal-footer > .modalBtn{
  background:transparent; 
  color:#1C76FD; 
  border-color:transparent;
  font-weight: bold;
}

.overview-list{
  border-radius: 5px;
}
.btn-details{
  background-color: transparent;
}
.btn-details:active,
.btn-details:hover {
  border: none;
  text-decoration:underline;
}



/* Untuk Chart */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.circular-progress {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container{
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #231c3d;
  text-align: center;
}

.detailInfo{
  font-weight: bold;
  font-size: 11px;
}

.details>li>div>h5{text-align: center;}
.details>li>div>h6{text-align: center;}

.divider-line{
  border-left:2px solid #d2d2d2; 
  height: 2.5rem
}
.details>li{
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.details{
  padding:0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

.ind-title{
  text-align:center;
  font-family:'Poppins', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 991.98px) {
    .paragraph{
      font-size: 14px;
    }
}

/*untuk progress bar*/
.progress_container {
  max-width: 100%;
  width: 100%;
  padding: 0 1rem;
  margin: 0;
}
.progress_container > .progress {
  width: 100%;
  height: auto;
  display: block;
  background-color: transparent;
}
.progress > .progress_item {
  padding: 0.5rem 0;
}
.progress_item > .progress_title {
  color: black;
  padding: 1rem 0;
  font-size: 14px;
  font-weight: bold;
}
.progress_item > .progress_bar {
  position: relative;
  width: 100%;
  height: 1rem;
  border-radius: 2rem;
  background: rgb(222, 222, 222);
}
.progress_bar > .bar {
  border-radius: inherit;
  background: linear-gradient(90deg, #5b4dda, #6546ee, #575afc);
  position: absolute;
  transition: width 1.5s cubic-bezier(0.1, 0.42, 0.85, 1);
  width: 0;
  height: 100%;
  left: 0;
}
.progress_bar > .bar::after {
  content: attr(data-text);
  position: absolute;
  right: 0;
  top: -3rem;
  width: 4rem;
  height: 2rem;
  background: rgb(41, 61, 102);
  font-size: 14px;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  animation: text 0.6s ease-in-out;
  font-weight: bold;
}
.progress_bar > .bar::before {
  content: ' ';
  position: absolute;
  right: 1.3rem;
  top: -1.2rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid rgb(41, 61, 102);
  animation: text 0.6s ease-in-out;
}
@keyframes text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
